
.monthy-header {
    @apply mt-10 mb-5;
    display: flex;
    justify-content: space-between;
    
    .btn-previous {
        margin-top: 0.8rem;
        button {
            @apply ms-4;
            cursor: pointer;
            line-height: var(--text-3xl);
            &:first-child { @apply ms-0; }
        }
    }

    .btn-next {
        margin-top: 0.8rem;
        button {
            @apply me-4;
            cursor: pointer;
            line-height: var(--text-3xl);
            &:last-child { @apply me-0; }
        }
    }
}

.month-day-name {
    @apply border-b-2 border-gray-200 ;

    .month_day_title {
        height: var(--month-day-title-height);
        @apply text-left;
        &.is_weekend { @apply  text-rose-500; }
    }
}


.month_day {
	@apply border-1 border-white p-1 h-15 align-text-top text-left relative;
    font-size: var(--month-day-font);
    height: var(--month-day-height);
    &:hover {
        cursor: pointer;
        @apply border-gray-400 bg-gray-200; 
    }

    &.is_today{
        @apply  border-2 border-gray-500 bg-gray-200;
    }

    .d-sonar {
        @apply absolute ;
        top: 0.2rem;
        z-index: 2;
    }

    .d-lunnar {
        @apply absolute ;
        bottom: 0.2rem;
        right: 0.4rem;
        font-size: 60%;
        opacity: 0.5;
        z-index: 2;
    }

    &.is_weekend { @apply  text-rose-500; }
    &.monday_preview {
        @apply text-gray-400;
        &.is_weekend {
            @apply text-rose-200;

            .d-lunnar { 
                @apply  text-rose-500;
            }
        }
       
    }
   
    .month_day_events {
        @apply align-text-bottom;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        margin: var(--month-day-event-margin);
        height: var(--month-day-event-height);
        font-size: var(--month-day-event-fontsize);

    }
    &:has(.is_japan){
        @apply border-1 border-orange-200;
        @apply text-orange-400 ;

    }

    &:has(.month_day_mask_dead){
        @apply border-1 border-green-200;
        @apply text-green-400 ;
        @apply bg-green-50;
    }
    &:has(.is_holiday){
        @apply border-1 border-blue-200;
        @apply text-blue-600 ;
    }
   
    &:has(.is_racing){
        @apply border-1 border-red-200;
        @apply text-red-600 ;
        @apply bg-red-50;
    }
}

