/**
https://tailwindcss.com/docs/columns

sm	40rem (640px)	@media (width >= 40rem) { ... }
md	48rem (768px)	@media (width >= 48rem) { ... }
lg	64rem (1024px)	@media (width >= 64rem) { ... }
xl	80rem (1280px)	@media (width >= 80rem) { ... }
2xl	96rem (1536px)	@media (width >= 96rem) { ... }
*/

.gallery {
    @apply mt-5;
    @apply grid grid-cols-2 gap-4;
    @apply sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-6;

    .gallery-item {
        position: relative;

        .gallery-item-name {
            position: absolute;
            width: 100%;
            margin-top: -17px;
            color: white;
            font-size: .6rem;
            text-align: left;
            margin-left: 4px;
            background: linear-gradient(0deg, #000000bf 0, rgba(42, 44, 49, 0) 76%);
        }

        .gallery-item-video-icon {
            position: absolute;
            width: 100%;
            color: black;
            top: calc(50% - 24px);
            font-size: 2rem;
        }

        .gallery-item-youtube-icon {
            position: absolute;
            width: 100%;
            color: black;
            top: calc(50% - 24px);
            font-size: 2rem;

            .fa-youtube {
                color: #FF0000;
            }
        }

        &:has(.gallery-item-video-icon) {
            img {
                opacity: .7;
            }
        }
    }
}